.container-box-left {
    position: fixed;
    border-color: antiquewhite;
    padding-left: 15px;
    padding-top: -20px;
    margin-left: 100px;
}
.friend-list-left {
    border: none;
    border-radius: 5px;
    display: grid;
    height: 20px;
    width: 100%;
    color: white;
    background-color: #555555;
}
.friend-list-left {
    cursor: pointer;
    background-color: #55555587;
}